.schedule-table {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-collapse: collapse;
    text-align: center;
    margin-top: 20px;
  }
  
  .schedule-table th, .schedule-table td {
    align-content: center;
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .schedule-table th {
    align-content: center;
    background-color: #f2f2f2;
  }